<!--Header-->
<%- include("header") -%>

<body>
    <!--Print Tag-->
    <div class="box" id="heading">
        <h1><%= listTitle %></h1> 
    </div>
    <div class="box">
    
        <% newListItems.forEach(item => { %>
        <form action="/delete" method="POST">
            <div class="item">
                <input name="checkbox" onChange="this.form.submit()" type="checkbox" value="<%=item._id%>">
                <p> <%= item.name %> </p>    
            </div>
            <input type="hidden" name="listName" value="<%= listTitle %>"></input>
        </form>
        <% }) %>
            
        <form class="item" action="/" method="POST">
            <input type="text" name="newItem" placeholder="New item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>

    <!--Footer-->
    <%- include("footer") -%>
</body>
</html>